<header>
  <div class="containerMenu">
    <div class="inicioMenu">
      <button class="menuBTN"><img src="/images/icons/iconMenu.svg" /></button>
      <div class="menuContent">
        <nav>
          <a class="menu-item" href="/">Home</a>
          <a href="/pages/sections.hbs" class="newGetIn" id="log">Locales</a>
          <a href="/pages/sections.hbs" class="newGetIn" id="log">Regionales</a>
          <a href="/pages/sections.hbs" class="newGetIn" id="log">Nacionales e Internacionales</a>
          <a href="/pages/sections.hbs" class="newGetIn" id="log">Cultura</a>
          <a href="/pages/sections.hbs" class="newGetIn" id="log">Deportes</a>
          <a href="/pages/sections.hbs" class="newGetIn" id="log">Políciales</a>
          <a href="/pages/sections.hbs" class="newGetIn" id="log">Necrologicas</a>
          <a href="/pages/sections.hbs" class="newGetIn" id="log">Tandilenses por el mundo</a>
          <a class="menu-item" href="/about">About Us</a>
        </nav>
      </div>
    </div>
    
    <div class="containerClima" id="clima"></div>
    
    <ul class="containerButtonPerfil">
      <li class="buttonPerfil">
        <a class="btn containerButtonPerfil"
          type="button"
          id="dropdownMenu2"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Perfil
        </a>
        
          {{#if userLog}}
        
        <ul class="dropDown">
          <li class="itemDrop">
            <a class="navLink" href="/notes">Noticias</a>
          </li>
          
          <li class="itemDrop">
            <a class="navLink" href="/notes/add">Nueva Noticia</a>
          </li>
          
          <li class="itemDrop">
            <a class="navLink" href="/users/logout">Salir</a>
          </li>
        </ul>
        {{else}}
          
          <ul class="dropDown">
            <li class="itemDrop">
              <a href="/users/signin" class="navLink">Ingresar</a>
            </li>
            <li class="itemDrop">
              <a href="/users/signup" class="navLink">Registrarse</a>
            </li>
          </ul>
        {{/if}}
      </li>
    </ul>
  </div>
</header>

<script src="/js/api_clima.js"></script>