<div class="containerAllEditNews">
    <div class="containerEditNews">
        <div class="editNews">
            <h1>Editar Nota</h1>
        </div>
        <div class="containerOptions">
            <form class="containerForm" action="/notes/edit-notes/{{note._id}}?_method=PUT" method="POST">

                <input type="hidden" name="_method" value="PUT">
                
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Titulo" value = "{{note.title}}">
                </div>

                <div class="form-group">
                    <input type="text" name="subtitle" class="form-control" placeholder="Bajada" value = "{{note.subtitle}}">
                </div>

                <div class="form-group">
                    <textarea name="description" class="form-control"
                    placeholder="Desarrollo">{{note.description}}</textarea>
                </div> 

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                </div>  

            </form>
        </div>
    </div>
</div>