

<div class="containerNuevaNota">
    <div class="nuevaNota">
        <div class="cardNuevaNota">
            <h3>Nueva Noticia</h3>
        </div>
        <div class="cardOptions">
            <form class="containerForm" action="/notes/new-note" method="POST">
                <div class="titleCont">
                    <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
                </div>
                <div class="descentCont">
                    <input type="text" name="subtitle" class="form-control" placeholder="Sub-Title">
                </div>
                <div class="sectionCont">
                    <input type="text" name="section" class="form-control" placeholder="Section">
                </div>
                <div class="textCont">
                    <textarea name="description" 
                    class="form-control"
                    placeholder="Desarrollo"></textarea>
                </div>
                <div class="buttonSave">
                    <button class="btn btn-primary btn-block" type = "submit">Save</button>
                </div>
            </form>
        </div>
    </div>  
</div>
