<section class="containerAllSection">
  <div class="containerSection">

    <div class="containerSectionName">
      <div class="sectionName">
        <h2 class="section">Policiales</h2>
        <div class="line"></div>
      </div>
    </div>
    
    <div class="containerCarousel">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">

          <div class="carousel-item active" data-bs-interval="1500">

            <div class="containerTextSection">
              <div class="carouselCaption">
                <h2 class="titleNews titleNews2 threeLines">
                  <a class="titleNewsLink" href="/pages/pageNews.html">Sigue siendo "crítico" el estado del trabajador que cayó de 8 metros de altura</a>
                </h2>
                <p class="textNews">El hecho se registró el pasado miércoles en la Estación de Servicio de San Martín y Alem. Sigue internado en terapia intensiva del Hospital Santamarina.
                </p>
              </div>
            </div>


            <div class="containerImageNews">
              <div class="imageNews">
                <a href="/pages/pageNews.html" class="newsLink" id="log">
                  <img src="https://eldiariodetandil.com/contenido/noticias/original/1671209380.jpeg" alt="banner1"/>
                </a>
              </div>
            </div>

          </div>
          
          <div class="carousel-item">

            <div class="containerTextNews">
              <div class="carouselCaption">
                <h2 class="titleNews">
                  <a class="titleNewsLink" href="/pages/pageNews.html">Choque entre auto y moto deja a una mujer herida</a>
                </h2>
                <p class="textNews">El martes por la tarde, un coche y una moto chocaron en la esquina de Del Valle y Figueroa. La conductora del rodado menor fue trasladada al Hospital.
                </p>
              </div>
            </div>


            <div class="containerImageNews">
              <div class="imageNews">
                <a href="/pages/pageNews.html" class="newsLink" id="log">
                  <img src="https://eldiariodetandil.com/contenido/noticias/original/1470803555.jpeg" alt="banner1"/>
                </a>
              </div>
            </div>

          </div>

          <div class="carousel-item">

            <div class="containerTextNews">
              <div class="carouselCaption">
                <h2 class="titleNews">
                  <a class="titleNewsLink" href="/pages/pageNews.html">Un hombre fue herido gravemente en pelea vecinal</a>
                </h2>
                <p class="textNews">Un hombre sufrió graves heridas en el marco de una pelea vecinal, la cual se desarrolló en González Pacheco al 2100. Al lugar debió acudir personal policial, que dispersó a los participantes.
                </p>
              </div>
            </div>


            <div class="containerImageNews">
              <div class="imageNews">
                <a href="/pages/pageNews.html" class="newsLink" id="log">
                  <img src="https://eldiariodetandil.com/contenido/noticias/original/1669560127.jpeg" alt="banner1"/>
                </a>
              </div>
            </div>

          </div>


        </div>
        <div class="containerButtons">
          <button 
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
  integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
  crossorigin="anonymous"
></script>